.dropDownMenu{
    position: relative;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

.dropDownMenu ul{
    display: none;
    margin: 0px;
    margin-top: -10px;
    padding: 0px;
    padding-top: 23px;
    list-style-type: none;
    max-height: 10vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.dropDownMenu ul li{
    margin-bottom: 5px;
    line-height: normal;
}