.dropDownMenu{
    position: relative;
    margin: auto;
    background-color: grey;
    text-align: center;
    border-radius: 5px;
}

.dropDownMenu ul{
    display: none;
    margin: 0px;
    margin-top: -10px;
    padding: 0px;
    padding-top: 23px;
    background-color: grey;
    list-style-type: none;
}